@import "./lib/components/Avatar/avatar.css";
@import "./lib/components/Alerts/alert.css";
@import "./lib/components/Badge/badge.css";
@import "./lib/components/Button/button.css";
@import "./lib/components/Card/card.css";
@import "./lib/components/Images/image.css";
@import "./lib/components/Input/input.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #a23df1;
    --secondary-color: white;
    --tertiary-color: black;
    --primary-color-b: #dda7fd;
    --error-color: rgb(252, 25, 25);
    --success-color: rgb(41, 180, 41);
    --warning-color: #ff9700;
    --offline-color: rgba(53, 52, 52, 0.884);
    --shadow-color: rgba(0, 0, 0, 0.274);
}

p {
    font-size: 1.25rem;
    padding: 0.2rem;
}

.documentation-tab {
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-areas:
        "header-sec header-sec"
        "aside-sec main-sec"
}

header {
    display: flex;
    justify-content: center;
    grid-area: header-sec;
    box-shadow: var(--primary-color) 0px 3px 8px;
    position: sticky;
    top: 0;
    padding: 1.2rem 1rem;
    font-size: 1.75rem;
    font-weight: 550;
    background-color: var(--secondary-color);
    z-index: 2;
}

.nav-img {
    width: 10rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-items {
    cursor: pointer;
}

.social-links {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.social-links .fab:hover,
.nav-items:hover {
    color: var(--primary-color);
}

aside {
    grid-area: aside-sec;
    position: fixed;
    top: 4.8rem;
    width: 15vw;
    overflow-y: auto;
    height: 100vh;
    padding-top: 1.25rem;
    box-shadow: var(--shadow-color) 0px 3px 8px;
    background-color: var(--secondary-color);
    z-index: 2;
}

.aside-comp-items {
    font-size: 1.5rem;
}

.aside-comp-items:hover {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    min-width: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transform: scaleY(1.5);
    transition: all 0.3s;
}

.component-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

main {
    grid-area: main-sec;
    font-size: 2rem;
    margin: 3rem;
    display: grid;
    gap: 1rem;
}

iframe {
    margin: 1rem auto;
    width: 50%;
    max-width: 50rem;
    height: 20rem;
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}

.container {
    box-shadow: var(--primary-color) 0px 3px 8px;
    border-radius: 1rem;
    padding: 1.2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

.container:hover {
    box-shadow: 0rem 0.2rem 1rem var(--primary-color);
}

@media only screen and (max-width:1050px) {
    aside {
        display: none;
    }

    .documentation-tab {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header-sec"
            "main-sec"
    }
}